.btn {
  color: #fff;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.145px;
  border-radius: 40px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(314deg, #2855ae 0%, #7292cf 100%);
  padding: 0.75rem 2rem;
  border: transparent;
  outline: none;
}
